@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
    --color-primary: white;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "BioRhyme", Roboto mono;
}

.todo-list {
    margin: .6rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: .2rem 0 0 0;
}

.title {
    text-align: center;
    color: black;
}

.header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.header i {
    margin-left: .7rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 1rem;
}

.form-input,
.form-input-calendar,
.form-button {
    margin-bottom: .6rem;
    padding: .7rem .9rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 1.1rem;
}

.form-input {
    font-weight: bold;
    margin-top: 0.6rem;
}

.form-input-calendar {
    font-weight: bold;
    width: fit-content;
    cursor: pointer
}

.form-input-calendar:hover {
    background-color: orange;
    color: white;
}

.form-button {
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1rem
}

.form-button:hover {
    background-color: orange;
    color: white
}

.list {
    list-style: none;
    font-size: 1.2rem;
    padding: 0 1rem;
    color: white;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background-color: rgba(128, 128, 128, 0.584);
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all 1s ease;
}

.content {
    margin-bottom: 1rem;
}

.content-data {
    color: white;
    font-weight: bold;
    margin: 1rem 0;
    background-color: rgba(255, 166, 0, 0.719);
    width: fit-content;
    padding: .2rem;

}

.check-button, .delete-button {
    color: white;
    border: none;
    margin-left: .4rem;
    padding: .6rem;
    height: fit-content;
    font-size: .9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
    font-family: "BioRhyme", Roboto mono;
}

.check-button {
    background-color: #1fa55b;
}

.delete-button {
    background-color: #dc3545;
}

.check-button:hover {
    background-color: white;
    color: #1fa55b
}

.delete-button:hover {
    background-color: white;
    color: #dc3545
}

.task.done p {
    text-decoration: line-through;
    color: lightgray;
}

.fall {
    transform: translateY(10rem) rotateZ(170deg);
    opacity: 0;
}

@media screen and (min-width: 1024px) {
    .todo-list {
        width: 70%;
    }

    .form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }

    .form-button,
    .form-input,
    .form-input-calendar {
        margin: 0 0 0 1rem;
    }

    .list {
        padding: 0 3rem;
    }

    .task {
        flex-direction: row;
        justify-content: space-between;
    }

    .content {margin: 0 1rem 0 0}

    .task-divisoria {
        display: flex;
    }

    .check-button,
    .delete-button {
        font-weight: bold;
    }
}